@page "/login"
@* @rendermode InteractiveServer *@

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using PrzetrwajPL;
@using PrzetrwajPL.Models

<div class="container">
	<div class="inContainer">
	<h2 style="text-align:center; font-weight:bold;">Zaloguj się</h2>
	<p style="text-align:center;">Witamy! Podaj swoje dane poniżej żeby się zalogować</p>
	<EditForm Model="@loginRequest" OnValidSubmit="HandleLogin" FormName="loginForm">
		<DataAnnotationsValidator />
		@if (!string.IsNullOrEmpty(errorMessage))
		{
			<div class="alert alert-danger pre-wrap" role="alert" style="color: black; text-align:center;">@errorMessage</div>
		}
		<label for="email">E-mail:</label><br />
		<InputText @bind-Value="loginRequest.Email" id="email" placeholder="Podaj email" class="form-control"/>
		<ValidationMessage For="@(() => loginRequest.Email)" style="color:red; font-size: 12px;" /><br />

			<label for="password">Hasło:</label><br />
		<InputText @bind-Value="loginRequest.Password" type="password" id="password" placeholder="Podaj hasło" class="form-control"/>
		<ValidationMessage For="@(() => loginRequest.Password)" style="color:red; font-size: 12px;" /><br />

		<label>
			<input type="checkbox" checked="checked" name="remember"> Zapamiętaj mnie
		</label><br /><br />

		<button type="submit" disabled="@isLoading">
			@if (isLoading)
			{
				<span>Logowanie...</span>
			}
			else
			{
				<span>Zaloguj się</span>
			}
		</button><br /><br />

		<p>Nie masz konta? <a href="/register">Zarejestruj się</a></p>
		@* <p style="font-size:12px; text-align:center; margin-top: -10px"><a href=#>Prześlij ponownie potwierdzenie e-mail</a></p> *@
	</EditForm>
	</div>
	<div class="inContainer">
		<h2 style="text-align:center; font-weight:bold;">Szybkie logowanie</h2>
		<p>Użyj konta do zalogowania:</p><br />
		<button type="button" class="google">Google</button><br /><br />
		<button type="button" class="facebook">Facebook</button><br /><br />
		<button type="button" class="github">GitHub</button><br /><br />
		<button type="button" class="microsoft">Microsoft</button><br /><br />
	</div>
</div>


