@page "/register"
@rendermode InteractiveServer

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using PrzetrwajPL;
@using PrzetrwajPL.Models

<div class="container">
	<div class="inContainer">
	<h2 style="text-align:center; font-weight:bold;">Zarejestruj się</h2>
	<p style="text-align:center;">Witamy! Podaj swoje dane poniżej żeby się zarejestrować</p>
	<EditForm Model="@registerRequest" OnValidSubmit="HandleRegister" FormName="loginForm">
		<DataAnnotationsValidator />
		@if (!string.IsNullOrEmpty(errorMessage))
		{
			<div class="alert alert-danger pre-wrap" role="alert" style="color: black; text-align:center;">@errorMessage</div>
		}
		<label for="name">Imie:</label><br />
		<InputText @bind-Value="registerRequest.Name" id="name" placeholder="Podaj imie" class="form-control"/>
		<ValidationMessage For="@(() => registerRequest.Email)" style="color:red; font-size: 12px;" /><br />
		
		<label for="surname">Nazwisko:</label><br />
		<InputText @bind-Value="registerRequest.Surname" id="surname" placeholder="Podaj nazwisko" class="form-control"/>
		<ValidationMessage For="@(() => registerRequest.Email)" style="color:red; font-size: 12px;" /><br />

		<label for="email">E-mail:</label><br />
		<InputText @bind-Value="registerRequest.Email" id="email" placeholder="Podaj email" class="form-control"/>
		<ValidationMessage For="@(() => registerRequest.Email)" style="color:red; font-size: 12px;" /><br />

		<label for="password">Hasło:</label><br />
		<InputText @bind-Value="registerRequest.Password" type="password" id="password" placeholder="Podaj hasło" class="form-control"/>
		<ValidationMessage For="@(() => registerRequest.Password)" style="color:red; font-size: 12px;" /><br />
		
		<label for="passwordRetake">Powtórz hasło:</label><br />
		<InputText @bind-Value="registerRequest.ConfirmPassword" type="password" id="password" placeholder="Powtórz hasło" class="form-control"/>
			<ValidationMessage For="@(() => registerRequest.ConfirmPassword)" style="color:red; font-size: 12px;" /><br />

		<label>
			<input type="checkbox" checked="checked" name="ifUser"> Użytkownik
			</label>
		<label>
			<input type="checkbox" name="ifModerator"> Moderator
		</label><br /><br />

		<button type="submit" disabled="@isLoading">
			@if (isLoading)
			{
				<span>Rejestrowanie...</span>
			}
			else
			{
				<span>Zarejestruj</span>
			}
		</button><br /><br />
	</EditForm>
	</div>
</div>
